@media all and (min-width: 480px) {
    .Login {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .Student Details{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;


    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      max-height: 100px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  }